* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


div.bgImage {
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 150px;
    z-index: 1100;
    width: 100%;
    height: 600px;
    background-image: url("../../images/Niagara.jpg");
    background-size: cover;
    background-position: center;
    z-index: 8;

}


.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.sidebar-nav a {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    color: rgb(13, 34, 95);
    font-size: 22px;

    transition:
        color 0.6s ease,
        transform 0.6s ease;
}

.sidebar-nav a:hover {
    color: rgb(77, 201, 232);
    transform: translateX(5px);
}

#sidebar {
    width: 350px;
    height: calc(100vh);
    position: fixed;
    top: 0px;
    left: 0;
    padding: 25px;
    background: white;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.15);
    z-index: 1000;

    transition: transform 0.6s ease-in-out;
    overflow-x: hidden;
}

/* Slide sidebar off screen */
#sidebar.collapsed {
    transform: translateX(-100%);
}

#toggle-btn {
    position: fixed;
    top: 80px;
    left: 350px;

    width: 35px;
    height: 50px;

    border: none;
    border-radius: 0 6px 6px 0;

    background-color: #0077b6;
    color: white;

    font-size: 26px;
    cursor: pointer;

    z-index: 1200;

    transition:
        left 0.6s ease-in-out,
        background-color 0.2s;
}

#toggle-btn:hover {
    background-color: rgb(77, 201, 232);
    color: #111;
}

/* Button follows sidebar */
#toggle-btn.collapsed {
    left: 0;
}

#bgtbox {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    width: calc(100%);
    min-height: calc(600px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    


    transition:
        margin-left 0.3s ease-in-out,
        width 0.3s ease-in-out;
}
body {
    margin: 0;
    background-color: rgb(211, 215, 215);
    height: 100000px;
}
#bgtbox .child{
    font-size: 100px;
    color: white;
    position: absolute;
    top: 300px;
    left: 50%;

    opacity: 0;
    transform: translateX(-50%);
    
    transition: 
        transform 0.7s ease-in-out,
        opacity 0.7s ease-in-out;

    
}
#bgtbox .child.moved {
    transform: translateX(-50%) translateY(-100px);
    opacity: 1;
}
#bgtbox .child2{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 500px;
    left: 50%;

    opacity: 0;
    transform: translateX(-50%);
    
    transition: 
        transform 2s ease-in-out,
        opacity 2s ease-in-out;
}
#bgtbox .child2.moved {
    transform: translateX(-50%) translateY(-100px);
    opacity: 1;
}
#bgtbox.expanded {
    margin-left: 0;
    width: 100%;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.page-content {
    min-height: 2000px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 100px;
}

.reveal {
    display: flex;
    flex-direction: column;

    gap: 20px;

    opacity: 0;
    transform: translateY(80px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-title {
    font-size: 70px;
}

.bodytext {
    font-size: 30px;
    width: 50%;
}